@model IEnumerable<BulbDigitalChangelog.Models.ChangelogEntry>

@{
    ViewBag.Title = "Home";
}
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
         function ChangelogEntryViewModel() {
             var self = this;
             self.changelogEntries = ko.observableArray([]);
             self.addChangelogEntry = function () {
                 var newChangelogEntry = $("#addChangelogEntry").serialize();
                 newChangelogEntry.HasBeenProvisioned = false;
                 newChangelogEntry.DateLogged = Date.now();
                 var slackPost = { text: "MVAA Core" };
                 $.post("/api/AgencyReleases/Provision/",
                     slackPost,
                     function (value) {
                         console.log("woohoo");
                     },
                     "json");
             }
             self.removeChangelogEntry = function (changelogEntry) {
                 $.ajax({
                     type: "DELETE",
                     url: changelogEntry.Self,
                     success: function () {
                         self.changelogEntries.remove(changelogEntry);
                     }
                 });
             }

             $.getJSON("/api/ChangelogEntries", function (data) {
                 self.changelogEntries(data);
             });
         }
         ko.applyBindings(new ChangelogEntryViewModel());
    </script>
}
<ul id="changelogEntries" data-bind="foreach: changelogEntries">
    <li class="ui-widget-content ui-corner-all">
        <h1 data-bind="text: Description" class="ui-widget-header"></h1>
        <div><span data-bind="text: $data.ProjectKey || 'ProjectKey?'"></span></div>
        @*<div>
            <span data-bind="text: $data.City || 'City?'"></span>,
            <span data-bind="text: $data.State || 'State?'"></span>
            <span data-bind="text: $data.Zip || 'Zip?'"></span>
        </div>
        <div data-bind="if: $data.Email"><a data-bind="attr: { href: 'mailto:' + Email }, text: Email"></a></div>
        <div data-bind="ifnot: $data.Email"><span>Email?</span></div>
        <div data-bind="if: $data.Twitter"><a data-bind="attr: { href: 'http://twitter.com/' + Twitter }, text: '@@' + Twitter"></a></div>
        <div data-bind="ifnot: $data.Twitter"><span>Twitter?</span></div>*@
        <p><a data-bind="attr: { href: Self }, click: $root.removeChangelogEntry" class="removeChangelogEntry ui-state-default ui-corner-all">Remove</a></p>
    </li>
</ul>
<form id="addChangelogEntry" data-bind="submit: addChangelogEntry">
    <fieldset>
        <legend>Add New ChangelogEntry</legend>
        <ol>
            <li>
                <label for="Description">Description</label>
                <input type="text" name="Description" />
            </li>
            <li>
                <label for="ProjectKey">ProjectKey</label>
                <input type="text" name="ProjectKey">
            </li>
        </ol>
        <input type="submit" value="Add" />
    </fieldset>
</form>